* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: 40px auto;

}
header h1 {

    margin:  40px;
    text-align: center;
    letter-spacing: 5px;
    color: rgb(0, 0, 0);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 60px;
    text-align: center;
    background-color: #f0f0f0;
    
}

.campos {

    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 50px 200px rgba(0, 0, 0, 0.2);
    width: 350px;
    margin: 40px auto;


}

.campos:hover {

    transform: scale(1.1);
    transition: transform 0.5s ease;
}
label {
    display: block;
    margin: 40px;
    color: #000000;
    font-size: 25px;

}

input {

    padding: 10px;
    border-radius: 20px;
}

button {

    padding: 10px;
    border-radius: 5px;
    margin: 30px;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid;

}

button:hover {

    background: #33ff00;
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.texto-resultado {

    text-align: left;
    display: inline;
}

.campos {

    font-weight: bold;
}